# Friendly LwM2M Client Configuration
# /etc/config/lwm2m

config lwm2m 'client'
    option enabled '1'
    option endpoint 'friendly-device-001'
    option lifetime '300'
    option binding 'U'

config server 'server1'
    option enabled '1'
    option uri 'coaps://lwm2m.example.com:5684'
    option security_mode 'psk'
    option psk_identity 'device-001'
    option psk_key ''
    option bootstrap '0'

config firmware 'update'
    option delta_enabled '1'
    option delta_algorithm 'bsdiff'
    option rollback_enabled '1'
    option auto_reboot '1'
    option reboot_delay '5'
    option download_path '/tmp/firmware'
    option backup_path '/var/lib/lwm2m/snapshots'
    option max_snapshots '3'

config transport 'coap'
    option block_size '1024'
    option bert_enabled '1'
    option transfer_timeout '600'
    option max_retransmits '5'

config partition 'ab_scheme'
    option enabled '1'
    option slot_a_label 'rootfs_a'
    option slot_b_label 'rootfs_b'
    option recovery_label 'recovery'
    option max_boot_attempts '3'
